
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Rubik'
}

@layer base {
  @font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: url('../assets/fonts/Rubik-Regular.woff') format('woff');
  }
}
